<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softies Joke Website</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Joke Website</a>
        <button class="navbar-toogler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toogle navigation">
            <span class="navbar-toogler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu drop-cats"></div>
                </li>
                <li class="nav-item drop-cats">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="yljokes.html">Your Liked Jokes <span class="sr-only"></span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control search-bar" type="text" placeholder="Search">
            </form>

        <div class="form-check">
            <button type="button"  class="btn btn-primary mr-4 search-btn">
                Search
            </button>
            <label class="form-check-label">
                <input class="form-check-input filter-btn" type="checkbox" checked="true">
                Filter
            </label>
        </div>
        </div>
    </nav>

    <div class="flex-container" style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
        <div id="joke-of-the-day" class="card-container" style=" width: fit-content; display: flex">
            <div class="card border-primary mb-3" style="width: 250px; margin-top:80px; height: 300px;">
                <div class="card-header">
                    <h4>Meme Of The Day</h4>
                </div>
                <div>
                    <img src="../src/1534.jpg" alt="meme" style="width: 220px; display: block; margin-left: auto; margin-right: auto; margin-top:35px;">
                </div>
            </div>
        </div>

        <div id="joke-container" style="display: flex; height: fit-content; align-items: center; flex-direction: column; ">
            <h2 class="cat" style="margin-top: 15px; margin-bottom: 40px;">Random</h2>
            <button type="button" class="btn btn-primary btn-more">MORE</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        
    <script src="../dao/dao.js"></script>
    <script src="../dao/util.js"></script>
    <script src="../controller/ui.js"></script>
    <script src="../controller/jokes.js"></script>

    <footer class="footer" style=" position: fixed; left: 0; bottom: 0; width: 100%; font-size: 10px;"> Joke Website &copy</footer>

</body>
</html>